@model HomeBudget.ViewModels.FixedExpenseViewModel
@{
    /**/

    ViewBag.Title = "FixedExpense";
    Layout = "~/Views/Shared/Layouts/AFTERlogin.cshtml";
}
<div class="jumbotron" style="height:550px; position:relative; top:220px;background: rgba(90, 166, 130, 0.9); border: 0.5px solid black;">

    <h2>Add an regular expense</h2>
    <hr />
    <head>
        <link rel="stylesheet" href="../../Content/calculator.css">
   
    </head>
    @using (Html.BeginForm("Create", "RegularExpense"))
    {

        //@Html.AntiForgeryToken()


        <div style="display:flex; flex-direction:row; position:relative; left:150px;">
            <div class="col-md-3" style="position:relative; margin:50px">
                <div class="form-group " style=" margin-left:10px; ">
                    <span style="font-weight:bold">What for?</span>
                    @*@Html.LabelFor(m => m.Name)*@
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
                <div class="form-group" style=" margin-left:10px;position:relative; top:35px">
                    @Html.LabelFor(m => m.Price)
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                </div>
            </div>
            <div style="margin:50px; flex-direction:column; display:flex;  position:relative" class="col-md-3 ">
                <span style="font-weight:bold">Chose date</span>
                <div class="btn-group btn-group-toggle " data-toggle="buttons">
                    <label class="btn btn-secondary active" id="lol1">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> Daily
                    </label>
                    <label class="btn btn-secondary" id="lol2">
                        <input type="radio" name="options" id="option2" autocomplete="off"> Weekly
                    </label>
                    <label class="btn btn-secondary" id="lol3">
                        <input type="radio" name="options" id="option3" autocomplete="off"> Monthly
                    </label>
                </div>

                <div id="insertChose">
                    <div class="btn-group btn-group-toggle " data-toggle="buttons">

                        <label class="btn btn-secondary active" ">
                            <input type="radio" name="options" autocomplete="off" > M
                        </label>
                        <label class="btn btn-secondary" ">
                            <input type="radio" name="options" autocomplete="off"> T
                        </label>
                        <label class="btn btn-secondary" ">
                            <input type="radio" name="options" autocomplete="off"> W
                        </label>
                        <label class="btn btn-secondary" ">
                            <input type="radio" name="options" autocomplete="off"> T
                        </label>
                        <label class="btn btn-secondary" ">
                            <input type="radio" name="options" autocomplete="off"> F
                        </label>
                        <label class="btn btn-secondary"><input  type="radio" name="options" value="S" autocomplete="off">S</label>
                        <label class="btn btn-secondary" ">
                            <input type="radio" name="options" autocomplete="off"> S
                        </label>


                    </div>

                </div>
                <div class="form-group" style=" margin-left:10px">
                    @Html.LabelFor(m => m.Time)
                    @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "eg 20:00" })
                    @Html.ValidationMessageFor(m => m.Time)
                </div>
                
            </div>
            @*<div class="col-md-3">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style=" margin-left:10px">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control " } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger " })
                        </div>
                    </div>
                    <div class="form-group" style=" margin-left:10px">
                        @Html.LabelFor(m => m.Time)
                        @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "eg 20:00" })
                        @Html.ValidationMessageFor(m => m.Time)
                    </div>
                </div>*@



        </div>
        <button type="submit" class="btn btn-primary" style=" width:550px; position:relative; left:230px">Save</button>
        <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/hot-sneaks/jquery-ui.css" rel="stylesheet" />


        @section Scripts {
            <script src="~/Scripts/jquery-1.12.4.min.js"></script>
            <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
            @Scripts.Render("~/bundles/jqueryval")
            <script type="text/javascript" charset="utf-8" defer="defer" src="../../Scripts/calculator.js">
            </script>
            <script>
                $(function () {
                    $('#datetimepicker3').datetimepicker({
                        pickDate: false
                    });
                });
                $(document).ready(function () {
                    $('#Date').datepicker().datepicker('setDate', 'today');
                });
                var elem = document.getElementsByClassName("active")[0];
                var insert = document.getElementById("insertChose");
                var id = elem.children[0].id;
                document.getElementById("lol1").addEventListener("click", function () {
                    insert.innerHTML = `<div class="btn-group btn-group-toggle " data-toggle="buttons">
                                    <label class="btn btn-secondary active" ">
                                        <input type="radio" name="options" autocomplete="off" checked> M
                                    </label>
                                    <label class="btn btn-secondary" ">
                                        <input type="radio" name="options" autocomplete="off"> Tu
                                    </label>
                                    <label class="btn btn-secondary" ">
                                        <input type="radio" name="options" autocomplete="off"> W
                                    </label>
                                    <label class="btn btn-secondary" ">
                                        <input type="radio" name="options" autocomplete="off"> T
                                    </label>
                                    <label class="btn btn-secondary" ">
                                        <input type="radio" name="options" autocomplete="off"> F
                                    </label>
                                <label class="btn btn-secondary" ">
                                        <input type="radio" name="options" autocomplete="off"> S
                                    </label>
                                    <label class="btn btn-secondary" ">
                                        <input type="radio" name="options" autocomplete="off"> Sn
                                    </label>
                                </div>`;
                });
                document.getElementById("lol2").addEventListener("click", function () {
                    insert.innerHTML = `<button class="btn btn-secondary disabled" >
                                         Push me every week
                                    </div>`;
                });
                document.getElementById("lol3").addEventListener("click", function () {
                    insert.innerHTML = `<button class="btn btn-secondary disabled" >
                                         Push me every month
                                    </div>`;
                });
               


            </script>
           
        }
    }

</div>