@model IEnumerable<HomeBudget.Models.FixedExpense>

@{
    ViewBag.Title = "List of regular expenses";
    Layout = "~/Views/Shared/Layouts/AFTERlogin.cshtml";
}
<div class="jumbotron" style="margin:50px; padding:50px; position: relative;top:220px;background: rgba(90, 166, 130, 0.9); border: 0.5px solid black;">
    <h2 style="">List of regular expenses</h2>
    <hr />


    <div style="position:relative; top:20px">
        @Html.ActionLink("Create New", "Create")
    </div>
    <table class="table" style="position:relative; top:50px; margin-bottom:50px; padding-bottom:50px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    Every @Html.DisplayFor(modelItem => item.Date.Day)th day of the month
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteConfirmed", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    </div>