<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body style="background-size:cover;  height:100vh; background-image: linear-gradient(#20C8EC, #673BE7);">

<div  class="container body-content">

    @RenderBody()
    <footer>
        <p>&copy; @DateTime.Now.Year - My Home Budget</p>
    </footer>
    
</div>
    </div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
