@model HomeBudget.Models.JqDate

@{
    ViewBag.Title = "Index";
}
<h1 id="container">
    User

    <img id="zdj" src="@Url.Action("UserPhotos", "Home" )" style="width:160px;height:160px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
</h1>
<h2>Index</h2>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/hot-sneaks/jquery-ui.css" rel="stylesheet" />
@section Scripts {
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#JoinDate").datepicker();
        });
    </script>
}


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.JoinDate, htmlAttributes: new { @class = "control-label " })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.JoinDate, new { htmlAttributes = new { @class = "form-control " } })
                    @Html.ValidationMessageFor(model => model.JoinDate, "", new { @class = "text-danger " })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">


                </div>
            </div>
        </div>
    }*@
@Html.ActionLink("Add income", "CreateIncome", "Incomes", null, new { @class = "form-control round-input", @style = " width:120px; background-color:#008000a8; color:white" })
@Html.ActionLink("Add expense", "Create", "Expenses", null, new { @class = "form-control round-input", @style = " width:120px; background-color:#008000a8; color:white" })

