@model IEnumerable<HomeBudget.Models.Notification>
@{
    /**/

    ViewBag.Title = "ListOfNotifications";
    Layout = "~/Views/Shared/Layouts/AFTERlogin.cshtml";
}

<div class="jumbotron" style="height:500px; position: relative;top:220px;background: rgba(90, 166, 130, 0.9); border: 0.5px solid black;">
    <div style="display:flex;flex-direction:row;justify-content:space-between">
        <div>Your notifications </div>    
        <div style="display:flex;flex-direction:row; ">
            <div style="position:relative; left:-100px">@Html.ActionLink("Create new", "Create", "RegularExpense")</div>
            <div> @Html.ActionLink("List of all", "Index", "RegularExpense")</div>
        </div>
    </div>
    <hr />
    <div class="col-md-10">
        <div class="notification-icon" style="margin-top:10px">
            <span class="glyphicon glyphicon-envelope " style="font-size:25px"></span>
            <span class="badge" id="ntCnt"></span>
        </div>

        <div id="divNotificaion" style="margin-bottom:50px; padding-bottom:50px">

        </div>
        </div>

        @section scripts{

            @Scripts.Render("~/Scripts/jquery.signalR-2.1.2.min.js")

            <script src="~/signalr/Hubs/"></script>

        }
        <script>
            $(document).ready(function () {
                debugger
                // Proxy created on the fly
                var hub = $.connection.senderHub;
                // Declare a function on the hub hub so the server can invoke it
                hub.client.displayStatus = function () {
                    debugger
                    getData();
                };
                // Start the connection
                $.connection.hub.start();
                getData();
                function getData() {
                   // var divNotificaion = $('#divNotificaion');
                    $.ajax({
                        url: '/Notifications/GetNotification',
                        type: 'GET',
                        datatype: 'json',
                        success: function (data) {
                            debugger
                            data = $.parseJSON(data);
                            //if (data.length > 0) {
                               // divNotificaion.empty();
                                //// set Count
                               // $('#ntCnt').text(data.length);
                                //Make notification html
                                //for (var i = 0; i < data.length; i++) {

                                //    var notification = '<div class="alert alert-danger alert-dismissable">' +
                                //        '<a href="#" class="close" data-dismiss="alert" onclick="DeleteNotification()" aria-label="close" >&times;</a>'
                                //        + data[i].Message + ' ' + data[i].Id +
                                //        '</div>'
                                //    divNotificaion.append(notification);
                                //}
                            }
                        }, error: function (r, e, w) {
                        }
                    });
                }


            })

            var DeleteNotification = function (MessageId) {

                $.ajax({

                    type: "POST",
                    url: "/Notifications/DeleteMessage",
                    data: { NotificationId: MessageId },
                    success: function (result) {
                    }

                })
            }
        </script>

        @foreach (var item in Model)
        {
            <div class="alert alert-danger alert-dismissable" style="height:60px; position:relative">

                <a style="position:absolute; top:20px;right:50px" href="#" class="close" data-dismiss="alert" onclick="DeleteNotification(@item.Id)" aria-label="close">&times;</a>
                <p style="position:absolute; top:20px">@Html.DisplayFor(itemModel => item.Message)</p>  
            </div>
        }
