@using System.Web.UI.WebControls
@using HomeBudget.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/Layouts/BEFORElogin.cshtml";
}

<div style="position: relative;top: 70px">
    @{
        ViewBag.Title = "Log in";
    }

    <h1 style="color:black; font-family: 'Ubuntu'">@ViewBag.Title.</h1>
    <h4 style="color:black; font-family: 'Ubuntu'">Use a local account to log in.</h4>
    <hr />
    <div id="jloginForm" style="position: relative; top:0px;  background: rgba(90, 166, 130, 0.9); border: 0.5px solid black;border-radius:7px; margin:50px; padding:100px">

        <div class="userPhotoLOGIN"></div>
        @*<img class="userPhotoLOGIN" src="https://img.icons8.com/ios/50/000000/user-male-circle.png">*@

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()





            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Login", @class = "jinput" })


            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Email, " ", new { @class = "text-danger" })
            </div>
            <div id="jpassword">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "jinput" })


            </div>





            <div>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</div>
            <div style="display: flex; flex-direction: row;">
            <div>
                <a style="color:black;font-weight: bold; position: relative;left: 60px" href="ForgotPassword">Forgot a password?</a>
            </div>
                <div class="rememberMe">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "jcheckbox" })

                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <div>
                <button style="position: relative; left: 10px; width: 360px" type="submit" value="Login Now" class="btn btn-primary btn-lg">Login Now!</button>
                @*<input type="submit" value="Login Now" class="jbuttonLOGIN" style="background: darkred" />*@
            </div>


            <div style="display: flex; flex-direction: column">
                <p style="color: black; " class="cos">Not a member?</p>
                <button style="position: relative;font-weight:bold; top: 30px; left: 10px" id="jcos" type="button" class="btn btn-outline-primary">Create new account</button>
            </div>
            




        }

    </div>
</div>
</div>

<script>
    var button = document.getElementById("jcos");

    button.addEventListener("click", function () {
        document.location.href = 'Register';
    });

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
