@using System.Web.UI.WebControls
@using HomeBudget.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h1>@ViewBag.Title.</h1>
<h4>Use a local account to log in.</h4>
<hr />
<div id="jloginForm">
    <div class="userPhotoLOGIN"></div>
    @*<img class="userPhotoLOGIN" src="https://img.icons8.com/ios/50/000000/user-male-circle.png">*@

    @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div>
            @Html.TextBoxFor(m => m.Email, new {placeholder = "Email", @class = "jinput"})

        </div>
        <div>
            @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
        </div>
        <div id="jpassword">
            @Html.PasswordFor(m => m.Password, new {placeholder = "Password", @class = "jinput"})

        </div>
        <div>@Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})</div>
        <div>
            <input type="submit" value="Login Now" class="jbuttonLOGIN"/>
        </div>
        <div class="rememberMe">
            @Html.CheckBoxFor(m => m.RememberMe, new {@class = "jcheckbox"})

            @Html.LabelFor(m => m.RememberMe)
        </div>

        
        <p class="cos" >Not a member?</p>
        <input id="jlink" type="button" value="Create new account"/>
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>



    }

</div>
</div>
<script>
    var button = document.getElementById("jlink");

    button.addEventListener("click", function(){
        document.location.href = 'Register';
    });
    
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}