@model HomeBudget.Models.ApplicationUser
@{
    ViewBag.Title = "ChangeSavings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Budżecik", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <img src="@Url.Action("UserPhotos", "Home")" height="48" width="48" />

                    </li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Add expense", "Create", "Expenses")</li>
                    <li>@Html.ActionLink("Add income", "CreateIncome", "Incomes")</li>
                    <li>@Html.ActionLink("History", "Balance", "History")</li>
                    <li>@Html.ActionLink("Savings", "ChangeSavings", "Savings")</li>
                    <li>@Html.ActionLink("Not", "ListOfNotifications", "Notifications")</li>
                </ul>
                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>
</div>
<div style="position: relative;top: 70px;">
<h2>Change savings</h2>

@using (Html.BeginForm("ChangeSavings", "Savings"))
{
<div class="form-group" style="width:200px; margin-left:470px">
    @Html.LabelFor(m => m.SavingsAmount)
    @Html.TextBoxFor(m => m.SavingsAmount, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SavingsAmount)
</div>

    <button type="submit" class="btn btn-primary" style="width:200px; margin-left:470px">Save</button>
    
}
</div>