@model HomeBudget.Models.ApplicationUser
@{
    ViewBag.Title = "ChangeSavings";

}
@{
    Layout = "~/Views/Shared/Layouts/AFTERlogin.cshtml";
}

<div style="position: relative;top: 70px;">
    <h2>Change savings</h2>

    @using (Html.BeginForm("ChangeSavings", "Savings"))
    {
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Change percent", "ChangePercent", "Savings", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Change amount", "ChangeAmount", "Savings", new { area = "" }, new { @class = "navbar-brand" })</li>
    </ul>
        <div class="form-group" style="width:200px; margin-left:470px">
            @Html.LabelFor(m => m.SavingsAmount)
            @Html.TextBoxFor(m => m.SavingsAmount, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SavingsAmount)
        </div>

        <button type="submit" class="btn btn-primary" style="width:200px; margin-left:470px">Save</button>

        }
</div>