@model HomeBudget.Models.Category
@{
    ViewBag.Title = "ChangeAmount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangeAmount</h2>

@using (Html.BeginForm("ChangeAmount", "Savings"))
{
    <div class="form-group" style="width:200px; margin-left:470px">
        @Html.LabelFor(m => m.category)
        @Html.DropDownListFor(m => m.category, new SelectList(Model.Categories, "Id", "Name", "Color"), "", new { @class = "form-control" })
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" style="width:200px; margin-left:470px">
        @Html.LabelFor(m => m.AmountMoney);
        @Html.TextBoxFor(m => m.AmountMoney);
        @Html.ValidationMessageFor(m => m.AmountMoney)
    </div>

    <button type="submit" class="btn btn-primary" style="width:200px; margin-left:470px">Save</button>

}