@model HomeBudget.ViewModels.ExpenseFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div >
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Budżecik", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <img src="@Url.Action("UserPhotos", "Home")" height="48" width="48" />

                    </li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Add expense", "Create", "Expenses")</li>
                    <li>@Html.ActionLink("Add income", "CreateIncome", "Incomes")</li>
                    <li>@Html.ActionLink("History", "Balance", "History")</li>
                    <li>@Html.ActionLink("Savings", "ChangeSavings", "Savings")</li>
                    <li>@Html.ActionLink("Not", "ListOfNotifications", "Notifications")</li>
                </ul>
                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>
</div>
<div style="position: relative; top: 70px">
    <h2>Add a expenseee</h2>
    <head>
        <link rel="stylesheet" href="../../Content/calculator.css">
    </head>
    @using (Html.BeginForm("Create", "Expenses"))
    {
        //@Html.AntiForgeryToken()
        <div class="form-group">
            <div id="background">
                <div class="form-group" style="margin-bottom: 0px; margin-left:50px">
                    @Html.LabelFor(m => m.Price)
                    @Html.Hidden("Price", Model.Price, new { @style = "height:5px" })
                </div>
                <div id="result"></div>
                <div id="main">
                    <div id="first-rows">
                        <button type="button" class="del-bg" id="delete">Del</button>
                        <button type="button" value="%" class="btn-style operator opera-bg fall-back">%</button>
                        <button type="button" value="+" class="btn-style opera-bg value align operator">+</button>
                    </div>

                    <div class="rows">
                        <button type="button" value="7" class="btn-style num-bg num first-child">7</button>
                        <button type="button" value="8" class="btn-style num-bg num">8</button>
                        <button type="button" value="9" class="btn-style num-bg num">9</button>
                        <button type="button" value="-" class="btn-style opera-bg operator">-</button>
                    </div>

                    <div class="rows">
                        <button type="button" value="4" class="btn-style num-bg num first-child">4</button>
                        <button type="button" value="5" class="btn-style num-bg num">5</button>
                        <button type="button" value="6" class="btn-style num-bg num">6</button>
                        <button type="button" value="*" class="btn-style opera-bg operator">x</button>
                    </div>

                    <div class="rows">
                        <button type="button" value="1" class="btn-style num-bg num first-child">1</button>
                        <button type="button" value="2" class="btn-style num-bg num">2</button>
                        <button type="button" value="3" class="btn-style num-bg num">3</button>
                        <button type="button" value="/" class="btn-style opera-bg operator">/</button>
                    </div>

                    <div class="rows">
                        <button type="button" value="0" class="num-bg zero" id="delete">0</button>
                        <button type="button" value="." class="btn-style num-bg period fall-back">.</button>
                        <button type="button" value="=" id="eqn-bg" class="eqn align">=</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" style="width:200px; margin-left:470px">
            @Html.LabelFor(m => m.Category)
            @Html.DropDownListFor(m => m.Category, new SelectList(Model.Categories, "Id", "Name", "Color"), "", new { @class = "form-control" })
            <h1>Hello world!</h1>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="width:200px; margin-left:470px">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label " })
            <div>
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger " })
            </div>
        </div>
        @*<div class="form-group" style="width:200px; margin-left:470px">
            @Html.LabelFor(m => m.Time)
            @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "eg 20:00" })
            @Html.ValidationMessageFor(m => m.Time)
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="width:200px; margin-left:470px">Save</button>
        <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/hot-sneaks/jquery-ui.css" rel="stylesheet" />
        @section Scripts {
            <script src="~/Scripts/jquery-1.12.4.min.js"></script>
            <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
            @Scripts.Render("~/bundles/jqueryval")
            <script type="text/javascript" charset="utf-8" defer="defer" src="../../Scripts/calculator.js">
            </script>
            <script>
                $(document).ready(function () {
                    $('#Date').datepicker().datepicker('setDate', 'today');
                });
            </script>
        }
    }

</div>