@model HomeBudget.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layouts/AFTERlogin.cshtml";
}
<div class="jumbotron" style=" position: relative;top:220px;background: rgba(90, 166, 130, 0.9); border: 0.5px solid black;margin-bottom:100px;">
    <h2>Create category</h2>
    <hr />

    @using (Html.BeginForm("Create", "Category"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="margin-bottom:50px;">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="position; top:10px">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @*    @Html.DropDownListFor(m => m.Category, new SelectList(Model.CategoryIncome, "Id", "Name", "Color"), "", new { @class = "form-control form-control-lg" })*@

                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="width:200px; margin-left:470px">
                @*@Html.LabelFor(m => m.Color.Id)*@
                @*@Html.DropDownListFor(m => m.Color, new SelectList(Model.Colors, "Id", "Color"), "", new { @class = "form-control" })*@
                @*@Html.Hidden("Color", Model.Color.Id, new { @style = "height:5px" })
                    <select id="myColors" class="form-group" style="width:100px">
                        @foreach (var item in Model.Colors)
                        {
                        <option value="@item.Id" src="" style="background-color:@item.Color"
                                data-description=""></option>
                        }

                    </select>*@
                @*<select class="form-control" id=@Model.Color name=@Model.Color>
                        @foreach (var item in Model.Colors)
                        {
                            <option id=@item style="background-color:@item.Color" value=@item></option>
                        }
                    </select>*@
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary btn-lg btn-block ">Create</button>
                </div>
            </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.ddslick.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js"></script>
}