@{
    Layout = "~/Views/Shared/Layouts/AFTERlogin.cshtml";
}

@{
    ViewBag.Title = "How poor are you?";
    var data = ViewBag.Message;
}
<body style="color:black; font-family: 'Ubuntu'">
    <div class="jumbotron" style="position: relative;top:0px;background: rgba(90, 166, 130, 0.9); border: 0.5px solid black;">
        <div style=" display: flex; justify-content: space-around; " class="barContainer" style="color:black; font-family: 'Ubuntu'">
            <a style="padding: 10px; margin-top: 70px; background: white; border-radius: 30px; color:  #67AC89; font-size: 20px; font-weight: bold" ; href="Incomes">INCOMES</a>
            <a style="padding: 10px; margin-top: 70px; background:#F64D4D; border-radius: 30px;color: white ; font-size: 20px; font-weight: bold" href="Balance">BALANCE</a>
            <a style="padding: 10px; margin-top: 70px; background: white; border-radius: 30px;color: #67AC89; font-size: 20px; font-weight: bold" href="Outgoings">OUTGOINGS</a>

        </div>
    </div>
    <div class="jumbotron" style="position: relative; top:50px;background: rgba(90, 166, 130, 0.9); border: 0.5px solid black;padding:100px">
        <div style="position:relative; top:-50px;">
            <h2 style=" " style="color:black; font-family: 'Ubuntu'">@ViewBag.Title</h2>
            <hr />

            <h4 style="color:black; font-family: 'Ubuntu'">You can check your current balance here or switch for history of incomes and outgoings.</h4>





            <h3 style="top:50px;position: relative;"><span style=" color:black; font-family: 'Ubuntu'"> Your current balance: </span> <span style="color:black; font-family: 'Ubuntu'">@data.UserBalance PLN</span> </h3>


            <div id="line" style="position:relative; left:-50px; border: 1px solid black">
                <div id="in"> <span style="font-size:1.4rem"> <span style="font-size:1.8rem">+</span> @data.IncomesSum PLN </span></div>
                <div id="out"><span style="font-size:1.4rem"> <span style="font-size:1.8rem">-</span> @data.ExpensesSum PLN</span></div>
            </div>
        </div>
    </div>
</body>
<script>

    var inJJ = '@data.IncomesSum';
    var outJJ = '@data.ExpensesSum';
    inJJ = inJJ.replace(/,/g, '.');
    outJJ = outJJ.replace(/,/g, '.');
    var inJ = Number(inJJ);
    var outJ = Number(outJJ);
    var widthIn = inJ*100 / (inJ + outJ);
    var widthOut = outJ*100 / (inJ + outJ);
    var income = document.getElementById("in");
    var outgoing = document.getElementById('out');
    var line = document.getElementById('line');
  
    
    line.style.width = '60vw';
    line.style.height = '100px';
    income.style.width = widthIn+'%';
    outgoing.style.width = widthOut + '%';
    outgoing.style.position = 'relative';
    line.style.border = '5px solid none';
    line.style.borderBottomLeftRadius = '50px';
    line.style.borderTopLeftRadius = '50px';
    line.style.borderBottomRightRadius = '50px';
    line.style.borderTopRightRadius = '50px';
    line.style.top = '70px';

    income.style.background = '#7ABD49';
    income.style.border = '5px solid #7ABD49';
    income.style.borderBottomLeftRadius = '50px';
    income.style.borderTopLeftRadius = '50px';
    income.style.textAlign = 'center';
    income.style.fontWeight = 'bold';
    income.style.fontSize = '30px';
    income.style.lineHeight = '90px';


    outgoing.style.background = '#F64D4D';
    outgoing.style.border = '5px solid #F64D4D';
    outgoing.style.borderBottomRightRadius = '50px';
    outgoing.style.borderTopRightRadius = '50px';
    outgoing.style.textAlign = 'center';
    outgoing.style.fontWeight = 'bold';
    outgoing.style.fontSize = '30px';
    outgoing.style.lineHeight = '90px';
    if (inJ === 0 && outJ === 0) {
        income.style.width = '50%';
        outgoing.style.width = '50%';
    }
    if (inJ ===0  ) {
        income.innerHTML = " "
    }
    if (outJ === 0) {
        outgoing.innerHTML = " "
    }
    var button = document.getElementById("jlink");
    var b1 = document.getElementById("jincoming");
    var b1 = document.getElementById("jincoming");

    button.addEventListener("click", function () {
        document.location.href = 'Outgoings';
    });
</script>