
@{
    ViewBag.Title = "Balance";
    var data = ViewBag.Message;
}
<h2 style="margin-top: 50px;">@ViewBag.Title.</h2>


<div class="nav-history">
    <ul>
        <li>@Html.ActionLink("Incomes", "Incomes")</li>
        <li>@Html.ActionLink("Balance", "Balance")</li>
        <li>@Html.ActionLink("Outgoings", "Outgoings")</li>
    </ul>
</div>

<h3>Your incomes: @data.IncomesSum</h3>
<h3>Your expenses: @data.ExpensesSum</h3>
<h3>Your current balance: @data.UserBalance</h3>





