@model IPagedList<HomeBudget.Models.Income>
@{
    ViewBag.Title = "Incomes";
}
@{
    Layout = "~/Views/Shared/Layouts/AFTERlogin.cshtml";
}

@using PagedList;
@using PagedList.Mvc;
<style type="text/css">
    table {
        width: 75%;
        /* określa szerokość tabeli na 75%*/
        height: 100px;
        /* określa wysokość tabeli na 100px*/
        padding: 10px;
        /* określa margines wewnętrzny na 10 px */
        margin: 15px auto 15px auto;
        /* określa margines zewnętrzny- tabela zostaje wyśrodkowana */
        background-color: white;
        /* określa background tabeli */
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        /* określa zaokrąglenie rogów tabeli za pomocą CSS3*/
        box-shadow: 5px 5px 50px grey;
        -moz-box-shadow: 5px 5px 50px grey;
        -webkit-box-shadow: 5px 5px 50px grey;
        /* określa oceniowanie tabeli za pomocą CSS3*/
    }
</style>
<div>
    <div class="jumbotron" style="position: relative;top:0px;background: rgba(90, 166, 130, 0.9); border: 0.5px solid black;">
        <div style=" display: flex; justify-content: space-around; " class="barContainer">
            <a style="padding: 10px; margin-top: 70px; background:  #F4A73B; border-radius: 30px; color:  white; font-size: 20px; font-weight: bold" ; href="Incomes">INCOMES</a>
            <a style="padding: 10px; margin-top: 70px; background: white; border-radius: 30px;color:  #F4A73B ; font-size: 20px; font-weight: bold" href="Balance">BALANCE</a>
            <a style="padding: 10px; margin-top: 70px; background: white; border-radius: 30px;color: #F4A73B ; font-size: 20px; font-weight: bold" href="Outgoings">OUTGOINGS</a>
        </div>
        </div>
    <div class="jumbotron" style="position: relative;top:0px;background: rgba(90, 166, 130, 0.9); border: 0.5px solid black;">
        <h2 style="margin-top: 50px;" style="color:black; font-family: 'Ubuntu'">History of INCOMES.</h2>

        <h3>@ViewBag.Message</h3>




        <h4 style="color:black; font-family: 'Ubuntu'">Enter your value and search for your income</h4>
        <p>
            @using (Html.BeginForm("Incomes", "History", FormMethod.Get))
            {
                <input style="border: 3px solid #F4A73B; background: none; color:white" type="text" name="search" placeholder="  " />
                <input style="background:#F4A73B;color: white; border: 3px solid #F4A73B" type="submit" name="submit" value="Search" />
                <button style="background:#F4A73B;color: white; border: 3px solid #F4A73B">@Html.ActionLink("Last 7 days", "Incomes", new { filter = 1 })</button>
                <button style="background:#F4A73B;color: white; border: 3px solid #F4A73B">@Html.ActionLink("Last 30 days", "Incomes", new { filter = 2 })</button>
                <button style="background:#F4A73B;color: white; border: 3px solid #F4A73B">@Html.ActionLink("Last 3 months", "Incomes", new { filter = 3 })</button>
            }
        </p>



        <h4 style="text-align: center; font-weight:bold; color:white; font-family: 'Ubuntu'">The list of previous incomes</h4>
        <table class="table table-hover table-dark">

            <thead>
                <tr>
                    <th>@Html.ActionLink("Category", "Incomes", new { sortOrder = ViewBag.NameSortParm })</th>
                    <th>@Html.ActionLink("Price", "Incomes", new { sortOrder = ViewBag.PriceSortParm })</th>
                    <th>@Html.ActionLink("User", "Incomes", new { sortOrder = ViewBag.UserSortParm })</th>
                    <th>@Html.ActionLink("Date", "Incomes", new { sortOrder = ViewBag.DateSortParm })</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="border-bottom: 1px solid grey">@Html.DisplayFor(itemModel => item.CategoryIncome.Name)</td>
                        <td style="border-bottom: 1px solid grey">@Html.DisplayFor(itemModel => item.Price)</td>
                        <td style="border-bottom: 1px solid grey">@Html.DisplayFor(itemModel => item.User.UserName)</td>
                        <td style="border-bottom: 1px solid grey">@Html.DisplayFor(itemModel => item.Date)</td>
                    </tr>
                }
            </tbody>
        </table>

        <div style="position: relative; left: 40%">
            @Html.PagedListPager(Model, i => Url.Action("Incomes", "History", new { i, search = Request.QueryString["search"] }))
        </div>
        </div>
    </div>
