@model IPagedList<HomeBudget.Models.Income>
@{
    ViewBag.Title = "Incomes";
}

@using PagedList;
@using PagedList.Mvc;

<div style=" display: flex; justify-content: space-around; " class="barContainer">
    <a style="padding: 10px; margin-top: 70px; background:  #F4A73B; border-radius: 30px; color:  white; font-size: 20px; font-weight: bold" ; href="Incomes">INCOMES</a>
    <a style="padding: 10px; margin-top: 70px; background: white; border-radius: 30px;color:  #F4A73B ; font-size: 20px; font-weight: bold" href="Balance">BALANCE</a>
    <a style="padding: 10px; margin-top: 70px; background: white; border-radius: 30px;color: #F4A73B ; font-size: 20px; font-weight: bold" href="Outgoings">OUTGOINGS</a>
</div>
<h2 style="margin-top: 50px; color: white">History of INCOMES.</h2>

<h3>@ViewBag.Message</h3>




<h4 style="color: white">Enter your value and search for your income</h4>
<p>
    @using (Html.BeginForm("Incomes", "History", FormMethod.Get))
    {
        <input style ="border: 3px solid #F4A73B; background: none; color:white" type="text" name="search" placeholder="  " />
        <input style="background:#F4A73B;color: white; border: 3px solid #F4A73B" type="submit" name="submit" value="Search" />
        
    }
</p>

<table id="incomestable">
    <caption>The list of previous incomes</caption>
    <tr>
        <th>@Html.ActionLink("Category", "Incomes", new { sortOrder = ViewBag.NameSortParm })</th>
        <th>@Html.ActionLink("Price", "Incomes", new { sortOrder = ViewBag.PriceSortParm })</th>
        <th>@Html.ActionLink("User", "Incomes", new { sortOrder = ViewBag.UserSortParm })</th>
        <th>@Html.ActionLink("Date", "Incomes", new { sortOrder = ViewBag.DateSortParm })</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(itemModel => item.CategoryIncome.Name)</td>
            <td>@Html.DisplayFor(itemModel => item.Price)</td>
            <td>@Html.DisplayFor(itemModel => item.User.UserName)</td>
            <td>@Html.DisplayFor(itemModel => item.Date)</td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, i => Url.Action("Incomes", "History", new { i, search = Request.QueryString["search"]}))