@model IPagedList<HomeBudget.Models.Expense>
@{
    ViewBag.Title = "Outgoings";
}
@{
    Layout = "~/Views/Shared/Layouts/AFTERlogin.cshtml";
}

@using PagedList;
@using PagedList.Mvc;

<div style=" display: flex; justify-content: space-around; " class="barContainer">
    <a style="padding: 10px; margin-top: 70px; background: white ; border-radius: 30px; color:  #F4A73B; font-size: 20px; font-weight: bold" ; href="Incomes">INCOMES</a>
    <a style="padding: 10px; margin-top: 70px; background: white; border-radius: 30px;color:  #F4A73B ; font-size: 20px; font-weight: bold" href="Balance">BALANCE</a>
    <a style="padding: 10px; margin-top: 70px; background: #F4A73B; border-radius: 30px;color:white  ; font-size: 20px; font-weight: bold" href="Outgoings">OUTGOINGS</a>

</div>
<h2 style="margin-top: 50px; color: white">History of OUTGOINGS.</h2>

<h3>@ViewBag.Message</h3>


<h4 style="color: white">Enter your value and search for your outgoings</h4>

<p>
    @using (Html.BeginForm("Outgoings", "History", FormMethod.Get))
    {
        <input style="border: 3px solid #F4A73B; background: none; color:white" type="text" name="search" placeholder="  " />
        <input style="background:#F4A73B;color: white; border: 3px solid #F4A73B" type="submit" name="submit" value="Search" />
    }
</p>

<h4 style="text-align: center; font-weight:bold; color:white; font-family: 'Ubuntu'">The list of previous purchases</h4>
<table class="table table-hover table-dark" style="border-radius: 10px">
        
    <thead>
    <tr>
        <th>@Html.ActionLink("Category", "Incomes", new { sortOrder = ViewBag.NameSortParm })</th>
        <th>@Html.ActionLink("Price", "Incomes", new { sortOrder = ViewBag.PriceSortParm })</th>
        <th>@Html.ActionLink("User", "Incomes", new { sortOrder = ViewBag.UserSortParm })</th>
        <th>@Html.ActionLink("Date", "Incomes", new { sortOrder = ViewBag.DateSortParm })</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td style="border-bottom: 1px solid grey">@Html.DisplayFor(itemModel => item.Category.Name)</td>
            <td style="border-bottom: 1px solid grey">@Html.DisplayFor(itemModel => item.Price)</td>
            <td style="border-bottom: 1px solid grey">@Html.DisplayFor(itemModel => item.User.UserName)</td>
            <td style="border-bottom: 1px solid grey">@Html.DisplayFor(itemModel => item.Date)</td>
        </tr>
    }
    </tbody>
</table>

<div style="position: relative; left: 40%">
    @Html.PagedListPager(Model, i => Url.Action("Outgoings", "History", new { i, search = Request.QueryString["search"] }))

</div>
