@model IPagedList<HomeBudget.Models.Expense>
@{
    ViewBag.Title = "Outgoings";
}
<div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Budżecik", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <img src="@Url.Action("UserPhotos", "Home")" height="48" width="48" />

                    </li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Add expense", "Create", "Expenses")</li>
                    <li>@Html.ActionLink("Add income", "CreateIncome", "Incomes")</li>
                    <li>@Html.ActionLink("History", "Balance", "History")</li>
                    <li>@Html.ActionLink("Savings", "ChangeSavings", "Savings")</li>
                    <li>@Html.ActionLink("Not", "ListOfNotifications", "Notifications")</li>
                </ul>
                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>
</div>
@using PagedList;
@using PagedList.Mvc;

<div style=" display: flex; justify-content: space-around; " class="barContainer">
    <a style="padding: 10px; margin-top: 70px; background: white ; border-radius: 30px; color:  #F4A73B; font-size: 20px; font-weight: bold" ; href="Incomes">INCOMES</a>
    <a style="padding: 10px; margin-top: 70px; background: white; border-radius: 30px;color:  #F4A73B ; font-size: 20px; font-weight: bold" href="Balance">BALANCE</a>
    <a style="padding: 10px; margin-top: 70px; background: #F4A73B; border-radius: 30px;color:white  ; font-size: 20px; font-weight: bold" href="Outgoings">OUTGOINGS</a>

</div>
<h2 style="margin-top: 50px; color: white">History of OUTGOINGS.</h2>

<h3>@ViewBag.Message</h3>


<h4 style="color: white">Enter your value and search for your outgoings</h4>

<p>
    @using (Html.BeginForm("Outgoings", "History", FormMethod.Get))
    {
        <input style="border: 3px solid #F4A73B; background: none; color:white" type="text" name="search" placeholder="  " />
        <input style="background:#F4A73B;color: white; border: 3px solid #F4A73B" type="submit" name="submit" value="Search" />
    }
</p>
<table id="outgoingstable" style="border: 3px solid white">
    <caption style="color:whitesmoke; font-size: 20px; font-weight: bold; margin-bottom: 10px;">The list of previous purchases</caption>
    <tr style="background:#f4a73b; border-radius: 50px;">
        <th>@Html.ActionLink("Category", "Outgoings", new { sortOrder = ViewBag.NameSortParm })</th>
        <th>@Html.ActionLink("Price", "Outgoings", new { sortOrder = ViewBag.PriceSortParm })</th>
        <th>@Html.ActionLink("User", "Outgoings", new { sortOrder = ViewBag.UserSortParm })</th>
        <th>@Html.ActionLink("Date", "Outgoings", new { sortOrder = ViewBag.DateSortParm })</th>
    </tr>



    @foreach (var item in Model)
    {
        <tr style="background: white; color:#f4a73b;  margin-bottom: 100px; font-weight:bold;">
            <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>@Html.DisplayFor(modelItem => item.User.UserName)</td>
            <td>@Html.DisplayFor(itemModel => item.Date)</td>
        </tr>
    }



</table>

@Html.PagedListPager(Model, i => Url.Action("Outgoings", "History", new { i, search = Request.QueryString["search"] }))