@model IPagedList<HomeBudget.Models.Expense>
@{
    ViewBag.Title = "Outgoings";
}
@{
    Layout = "~/Views/Shared/Layouts/AFTERlogin.cshtml";
}

@using PagedList;
@using PagedList.Mvc;
<div class="jumbotron" style="position: relative;top:0px;background: rgba(90, 166, 130, 0.9); border: 0.5px solid black;">

    <div style=" display: flex; justify-content: space-around; " class="barContainer">
        <a style="padding: 10px; margin-top: 70px; background: white ; border-radius: 30px; color:  #67AC8B; font-size: 20px; font-weight: bold" ; href="Incomes">INCOMES</a>
        <a style="padding: 10px; margin-top: 70px; background: white; border-radius: 30px;color:  #67AC8B ; font-size: 20px; font-weight: bold" href="Balance">BALANCE</a>
        <a style="padding: 10px; margin-top: 70px; background: #F64D4D; border-radius: 30px;color:white  ; font-size: 20px; font-weight: bold" href="Outgoings">OUTGOINGS</a>

    </div>
    </div>
<div class="jumbotron" style="position: relative;top:0px;background: rgba(90, 166, 130, 0.9); border: 0.5px solid black;">
    <h2 style="margin-top: 50px; color: black">History of OUTGOINGS.</h2>

    <h3>@ViewBag.Message</h3>


    <h4 style="color:black">Enter your value and search for your outgoings</h4>

    <p>
        @using (Html.BeginForm("Outgoings", "History", FormMethod.Get))
        {
            <input style="border: 3px solid white; background: none; color:white" type="text" name="search" placeholder="  " />
            <input style="background:white;color: #67AC8B; border: 3px solid white" type="submit" name="submit" value="Search" />
            <button style="background:white;color: white; border: 3px solid white">@Html.ActionLink("Last 7 days", "Outgoings", new { filter = 1 })</button>
            <button style="background:white;color: white; border: 3px solid white">@Html.ActionLink("Last 30 days", "Outgoings", new { filter = 2 })</button>
            <button style="background:white;color: white; border: 3px solid white">@Html.ActionLink("Last 3 months", "Outgoings", new { filter = 3 })</button>
        }
    </p>

    <h4 style="text-align: center; font-weight:bold; color:black; font-family: 'Ubuntu'">The list of previous purchases</h4>
    <table class="table table-hover table-dark" style="border-radius: 10px">

        <thead>
            <tr>
                <th>@Html.ActionLink("Category", "Incomes", new { sortOrder = ViewBag.NameSortParm })</th>
                <th>@Html.ActionLink("Price", "Incomes", new { sortOrder = ViewBag.PriceSortParm })</th>
                <th>@Html.ActionLink("User", "Incomes", new { sortOrder = ViewBag.UserSortParm })</th>
                <th>@Html.ActionLink("Date", "Incomes", new { sortOrder = ViewBag.DateSortParm })</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="border-bottom: 1px solid grey">@Html.DisplayFor(itemModel => item.Category.Name)</td>
                    <td style="border-bottom: 1px solid grey">@Html.DisplayFor(itemModel => item.Price)</td>
                    <td style="border-bottom: 1px solid grey">@Html.DisplayFor(itemModel => item.User.UserName)</td>
                    <td style="border-bottom: 1px solid grey">@Html.DisplayFor(itemModel => item.Date)</td>
                </tr>
            }
        </tbody>
    </table>

    <div style="position: relative; left: 40%">
        @Html.PagedListPager(Model, i => Url.Action("Outgoings", "History", new { i, search = Request.QueryString["search"] }))

    </div>
    </div>